extends ./layout.jade

block contents
    ul.posts
        each post in collections.posts
            li
                a(href=post.path)
                    h1= post.title
                //-article!= post.contents
