doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="author" content="Asier Illarramendi")
        title #{title} | Metalsmith Pagetitle
        link(rel="alternate" type="application/rss+xml" title="RSS" href="http://doup.illarra.com/rss.xml")
        link(href="/#{fingerprint['assets/main.css']}" rel="stylesheet" type="text/css")
        link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/github.min.css")
    body
        div.row
            div.large-12.columns
                ul.menu
                    li: a(href="/") Blog
                    //-li: a(href="/page/about") About

                block contents
