@charset "UTF-8";

@import "foundation-settings";
@import "foundation-custom";

a {
    color: #439182;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #2f4843;
}

time {
    font-size: rem-calc(13.6);
    color: #bdc5c3;
}

.menu {
    font-size: rem-calc(14);
    padding: 0;

    a {
        color: #2f4843;
    }

    li {
        display: inline-block;
        margin-right: 1em;
    }
}

.logo {
    width: 60px;
    border-radius: 8px;
    padding: 2px;
    border: 1px solid #eee;
}

.posts {
    margin: 0;
    padding: 0;
    margin-bottom: 5em;

    li {
        list-style: none;

        h1 {
            font-size: rem-calc(20.4);
            margin-bottom: 0;
            line-height: 1.1em;
        }

        time {
            display: block;
            margin-bottom: rem-calc(12.75);
            margin-top: rem-calc(1.7);
        }
    }
}

.footer {
    color: #ddd;
    font-style: italic;

    a {
        color: #ddd;

        &:hover {
            color: #ddd;
        }
    }

    hr {
        border-top-width: 0px;
        border-style: solid;
        border-color: #ddd;
        margin: rem-calc(8.5) 0 0 0;
        width: 50px;
    }

    p {
        font-size: rem-calc(14);
        margin-top: rem-calc(4.25);
        margin-bottom: 3em;
    }
}

article {
    font-size: rem-calc(17); //
    color: #57534a;
    margin-bottom: 5em;

    h1 {
        font-size: rem-calc(23.8);
        margin-bottom: rem-calc(-1.7);
        line-height: 1.1em;
    }

    time {
        display: block;
        margin-bottom: rem-calc(17);
        margin-top: rem-calc(4.25);
    }

    h2 {
        font-size: rem-calc(20.4);
        margin: rem-calc(25.5) 0 rem-calc(4.25) 0;
    }

    h3 {
        font-size: rem-calc(17);
        margin: rem-calc(17) 0 rem-calc(4.25) 0;
    }

    code {
        background-color: #eee;
        border-radius: 3px;
        padding: 0 .3em;
        font-size: 1.1em;
    }

    img {
        margin: .5em 0;
    }

    code.hljs {
        font-size: rem-calc(14);
        line-height: 1.5em;
        background-color: #ecf3f2;
        border-radius: 3px;
    }

    p {
        margin: 0 0 rem-calc(8.5) 0;
    }
}
