@charset "UTF-8";

@import "foundation-settings";
@import "foundation-custom";

.menu {
    padding: 0;

    li {
        display: inline-block;
        margin-right: 1em;
    }
}

.posts {
    padding: 0;

    li {
        list-style: none;
    }
}
